*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: #0A0F22;
}

.navBar a{
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    text-decoration: none;
    text-overflow: none;
}

.topnav .icon{
    display: none;
}

.navBar a:hover{
    text-decoration: underline;
    text-decoration-color: #56B2BB;
    text-decoration-thickness: 0.2rem;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    left: 190vh;
    z-index: 99;
    font-size: 18px;
    border: 2px solid #56B2BB;
    outline: none;
    background-image: url(assets/icons/9344194.png);
    background-size: cover;
    background-color: #56B2BB;
    cursor: pointer;
    padding: 5px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
  }
  
  #myBtn:hover{
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
  }

.homeContainer{
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30rem;
}

.homeContainer img{
    border-radius: 100%;
    width: 23rem;
    height: 23rem;
    border: 4px solid whitesmoke;
}

.homeContainer h2{
    font-size: 1.3rem;
    color: whitesmoke;
    font-weight: bolder;
     position: relative;
    top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homeContainer h1{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    position: relative;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.homeContainer h3{
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

#home span{
    color: #56B2BB;
}

.homeContainer p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    position: relative;
    top: 30px;
    width: 26rem;
}

.homeContainer button{
    position: relative;
    top: 80px;
}

.homeButtons{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.download{
    background-color: #56B2BB;
    border: 2px solid #56B2BB;
    color: white;
    padding: 10px 20px 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.download:hover{
    background-color: transparent;
    border: 2px solid #56B2BB;
}

.call{
    background-color: transparent;
    border: 2px solid #56B2BB;
    color: white;
    padding: 10px 50px 10px 50px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}


.call:hover{
    background-color: #56B2BB;
    border: 2px solid #56B2BB;
    color: white; 
}

.aboutContainer{
    position: relative;
    top: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30rem;
}

.aboutContainer img{
    border-radius: 100%;
    height: 18rem;
    width: 18rem;
    border: 5px solid #56B2BB;
}

.aboutContainer h1{
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

.aboutContainer h3{
    color: #FFFFFF;
    position: relative;
    top: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

.aboutContainer p{
    color: #FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.aboutContainer span{
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
    text-decoration-color: #56B2BB;
}

.aboutParagraph{
 background: rgba(255, 255, 255, 0.2);
 border-radius: 2px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
 border-color:  rgba(255,255,255,0.3);
 position: relative;
    top: 40px;
    padding: 20px;
    width: 28rem;
}

#skills{
    position: relative;
    top: 600px;
    text-align: center;
}

#skills h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

#skills span{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #56B2BB;
}

#skills h2{
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    position: relative;
    top: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
}


.row div{
    background: rgba(255, 255, 255, 0.2);
 border-radius: 2px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
 border-color:  rgba(255,255,255,0.3);
 position: relative;
    top: 20px;
    margin: 20px;
    padding: 20px;
    width: 28rem;
    box-shadow: 0 3px 10px whitesmoke;
}

.row div:hover{
    top: 10px;
    box-shadow: 0 3px 10px #56B2BB;
}

#certificate{
    position: relative;
    top: 800px;
    text-align: center;
}

#certificate h1{
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

#certificate span{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #56B2BB;
}

#certificate h3{
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    position: relative;
    top: 20px;
}

.certRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
}

.certRow img{
    margin: 30px;
    width: 100%;
    height: 400px;
}

#projects{
    position: relative;
    top: 1000px;
    text-align: center;
}

#projects h1{
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: relative;
    bottom: 20px;
}

  .work{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #56B2BB;
}

#projects h2{
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

.projectsRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.projectCard{
    background-color: rgba(30, 39, 39, 0.3);
    box-shadow: 0 5px 30px black;
    padding: 50px;
    margin: 30px;
    width: 100%;
    height: auto;
}

.projectsInfo h1{
    color: #56B2BB !important;
    position: relative;
    top: 10px;
    font-size: 25px !important;
    font-family: 'Times New Roman', Times, serif !important;
    text-align: left;
}

.projectsInfo p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    font-size: 0.9rem !important;
}

.projectsButtons{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: right;
    column-gap: 20px;
    position: relative;
    top: 40px;
}

.projectsInfo p{
    color: #FFFFFF !important;
    position: relative;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 18rem;
    text-align: left;
}


.contact{
    position: relative;
    top: 1200px;
    text-align: center;
    color: #FFFFFF;
}

.contact h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

.contact h3{
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    position: relative;
    top: 10px;
}

#contact span{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #56B2BB;
}

.contact h1{
    color: #FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    position: relative;
    top: 30px;
}

hr{
    position: relative;
    top: 30px;
     border-color: grey;
}

.socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
    position: relative;
    top: 50px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
    background-color: rgba(30, 39, 39, 0.3);
    box-shadow: 0 5px 30px black;
    position: relative;
    top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 38rem;
    margin-left: auto;
    margin-right: auto;
}

input{
    width: 32rem;
    height: 2rem;
    background-color: transparent;
    color: #FFFFFF;
}

textarea{
    width: 32rem;
    background-color: transparent;
    color: #FFFFFF;
}

form button{
    width: 16rem;
    height: 2rem;
    background-color: #56B2BB;
    border: 2px solid #56B2BB;
    color: #FFFFFF;
    cursor: pointer;
}

::placeholder {
    color: white;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #56B2BB;
    font-size: 17px;
    font-weight: bold;
}

textarea:focus{
    outline: none;
    border-bottom: 2px solid #56B2BB;
    font-size: 1.1rem;
    font-weight: bold;
}



.text {
    color: whitesmoke;
    font-size: 0.9rem;
}


@media screen and (max-width:480px) {
    .topnav {
        overflow: hidden;
        position: relative;
        justify-content: space-around;
      }
      
      .topnav #myTopnav {
        display: none;
      }

      #myTopnav {
        text-align: center;
        margin: 0%;
      }

      
      .topnav a {
        color: white;
        margin:  10px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
}



@media screen and (max-width:480px) {
    body{
        overflow-x: hidden;
    }
    .homeContainer{
        top: 160px;
        flex-direction: column-reverse;
       
    }

    .homeContainer img{
      display: none;
    }
    
    .homeContainer h2{
        font-size: 1.5rem;
       text-align: left;
     
    }

    .homeContainer h3{
        text-align: left;
        font-size: 1.3rem;
     
    }
    
    .homeContainer h1{
        font-size: 1.6rem;
        text-align: left;
    }
    
    .homeContainer p{
        width: 20rem;
        text-align: left;
        
    }

    .homeButtons{
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        justify-content: left;
    }

    .download{
        padding: 10px 30px 10px 30px;
    }

    
    .call{
        padding: 10px 50px 10px 50px;
       
    }

    .aboutContainer img{
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 50px;
    }

    .aboutContainer{
        position: relative;
        top: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 30rem;
    }

    #myBtn{
        display: none;
        position: fixed;
        bottom: 20px;
        left: 39vh;
        width: 45px;
        height: 45px;
      }
    .aboutContainer h1{
        font-size: 30px;
       text-align: center;position: relative;
    }
    
    .aboutContainer h3{
       text-align: center;
       width: 20rem;
    }
    
    .aboutContainer p{
       font-size: 20px;
       text-align: center;
    }
    
    
    .aboutParagraph{
     background: rgba(255, 250, 250, 0.1);
     backdrop-filter: blur(3px);
     -webkit-backdrop-filter: blur(3px);
     border-color:  rgba(250,250,250,0.2);
        width: 360px;
       justify-content: center;
       align-items: center;
    }

    #skills{
        position: relative;
        top: 500px;
        text-align: center;
    }
    
    #skills h2{
        /* width: 21rem; */
        text-align: center;
    }

    .row{
        flex-direction: column;
        justify-content: center;
    }
    
    
    .row div{
        width: 350px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .row div h1{
        position: relative;
        left: 20px;
    }

  

    #certificate{
        position: relative;
        top: 600px;
        text-align: center;
    }
    

    .certRow{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .certRow img{
      padding: 10px;
       margin: 5px;
    } 

    #projects{
        position: relative;
        top: 700px;
        text-align: center;
    }

    .projectsRow{
        display: flex;
        flex-direction: column;
        column-gap: 50px; 
        justify-content: center;
    width: 100%;
    }

    .projectCard{
        padding: 30px 10px 60px 10px;
        width: 100%;
    }

    .projectsButtons{
        position: relative;
        right: 2.3rem;
    }

    .contact{
        top: 900px;
        text-align: center;
        
    }

    hr{
       width: 23rem;
    }

    .socials{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        position: relative;
        top: 50px;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 25px;
        background-color: rgba(30, 39, 39, 0.3);
        box-shadow: 0 5px 30px black;
        position: relative;
        top: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 24rem;
    }

    input{
        width: 300px;
        height: 30px;
        background-color: transparent;
        color: #FFFFFF;
    }
    
    textarea{
        width: 300px;
        background-color: transparent;
        color: #FFFFFF;
    }
    
    }